.landing-page-content {
  max-width: 75ch; /* 45 – 75 characters is a good baseline for text content*/
  margin: auto;
  padding: 1em;
  margin-bottom: 20px;
}

.landing-page-content header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.landing-page-content header nav {
  margin: 8px;
}

.landing-page-content main {
  box-sizing: border-box;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: auto;
  margin-top: auto;
}

.landing-page-content li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.landing-page-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  font-size: 4.5rem;
  font-family: "Sura-Bold", serif;
  font-weight: 700;
}
.subtitle {
  background-color: #6867ac;
  font-size: 3rem;
}

.landing-page-content p {
  margin-top: 0.05em;
}

.about-me {
  text-align: left;
  text-indent: 50px;
}

.logo {
  max-height: 60px;
  max-width: 100px;
  margin: 10px;
}

.landing-page-content aside {
  border: 1px solid rgba(179, 163, 163, 0.288);
  box-shadow: -5px 5px 5px rgba(179, 163, 163, 0.288);
  margin: 50px;
}